@use "sass:math";

@font-face {
  font-family: "Colus Regular";
  src: url("../fonts/colus_regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/colus_regular.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/colus_regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/colus_regular.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/colus_regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/colus_regular.svg#colus_regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@import "null";
@import "variable";
@import "calcvariables";

// // Оболонка wrapper
// .wrapper {
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
//   @supports (overflow: clip) {
//     overflow: clip;
//   }
//   // Притискаємо footer
//   > main {
//     flex: 1 1 auto;
//   }
//   // Фікс для слайдерів
//   > * {
//     min-width: 0;
//   }
// }

// // Тип адаптива:
// // 1 = чуйність (у контейнера немає брейкпоінтів),
// // 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
// $responsiveType: 1;

// @if ($responsiveType==1) {
//   // Чуйна
//   [class*="__container"] {
//     @if ($maxWidthContainer>0) {
//       max-width: toRem($containerWidth);
//       margin: 0 auto;
//     }
//     @if ($containerPadding>0) {
//       @if ($maxWidthContainer>0) {
//         padding: 0 toRem(math.div($containerPadding, 2));
//       } @else {
//         @include adaptiveValue(
//           "padding-left",
//           math.div($containerPadding, 2),
//           15
//         );
//         @include adaptiveValue(
//           "padding-right",
//           math.div($containerPadding, 2),
//           15
//         );
//       }
//     }
//   }
// } @else {
//   // Брейк-поїнтами
//   [class*="__container"] {
//     margin: 0 auto;
//     @if ($maxWidthContainer>0) {
//       max-width: toRem($containerWidth);
//     } @else {
//       @if ($containerPadding>0) {
//         padding: 0 toRem(math.div($containerPadding, 2));
//       }
//     }
//     @media (max-width: $pc) {
//       max-width: toRem(970);
//     }
//     @media (max-width: $tablet) {
//       max-width: toRem(750);
//     }
//     @media (max-width: $mobile) {
//       max-width: none;
//       @if ($containerPadding>0 and $maxWidthContainer>0) {
//         padding: 0 toRem(math.div($containerPadding, 2));
//       }
//     }
//   }
// }

// .wrapper {
//   min-height: 100%;
//   overflow: hidden;
//   display: flex;
//   flex-direction: column;
// }
// .content {
//   flex: 1 1 auto;
// }

// .container {
//   max-width: 1200px;
//   margin: 0px auto;
// }

// .body {
//   background-color: #6f6d6d;
// }

.calculator {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // width: 1250px;
    // height: 100%;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // width: 1250px;
    background-color: #a79e9e;
  }

  &__logo {
    img {
      max-width: 100px;
      border-radius: 100%;
    }
  }

  &__title {
   font-size: 26px;
   color: #544a4a;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    padding-top: 15px;
  }
}
